<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="ThreadCount" value="2"/>
    <add key="url-directory" value="url" />
    <add key="plp-page" value="/,/buy,/subcat,/cat,/b,/toddler-shop,/savingscenter,/age,/gift-cards,/product/allbrands,/pampers,/PGbrandsaver" />
    <add key="logTaskString" value="true" />
    <!--web reqeust time out ,int second-->
    <add key="requestTimeOut" value="600"/>
    
    <!-- Task string-->
    <add key="task-diapers" value="http://perqa-www:81" />
    <add key="task-soap" value="http://perqa-www:82" />
    <add key="task-beautybar" value="http://perqa-www:87" />
    <add key="task-wag" value="http://perqa-www:99" />
    <add key="task-yoyo" value="http://perqa-www:85" />
    <add key="task-casa" value="http://perqa-www:86" />
    <add key="task-vine" value="http://perqa-www:88" />
    <add key="task-afterschool" value="http://perqa-www:84" />
    <add key="task-bookworm" value="http://perqa-www:89" />
    <add key="task-look" value="http://perqa-www:90" />
    <!--domain-->
    <add key="domain" value="http://{site}.qa.diaperscorp.com" />
    <add key="mercado-diapers" value="diapers" />
    <add key="mercado-soap" value="soap" />
    <add key="mercado-beautybar" value="beauty" />
    <add key="mercado-wag" value="wag" />
    <add key="mercado-casa" value="casa" />
    <add key="mercado-yoyo" value="yoyo" />
    <add key="mercado-vine" value="vine" />
    <add key="mercado-afterschool" value="afterschool" />
    <add key="mercado-bookworm" value="bookworm" />
    <add key="mercado-look" value="look" />
    
    <!--result directory-->
    <add key="result-directory" value="\\perqa-www\{site}-www\SearchPerformanceTest\Mercado" />
    <add key="result-diapers" value="diapers" />
    <add key="result-soap" value="soap" />
    <add key="result-beautybar" value="beauty" />
    <add key="result-wag" value="wag" />
    <add key="result-casa" value="casa" />
    <add key="result-yoyo" value="yoyo" />
    <add key="result-vine" value="vine" />
    <add key="result-afterschool" value="afterschool" />
    <add key="result-bookworm" value="bookworm" />
    <add key="result-look" value="look" />
    
    <!--website directory-->
    <add key="website-directory" value="\\perqa-www\{site}-www" />
    
    <!--SearchInterface-->
    <add key="SearchInterface-diapers" value="http://LOCAL-MERCADO:44465/SearchInterface"/>
    <add key="SearchInterface-beautybar" value="http://LOCAL-MERCADO:44461/SearchInterface"/>
    <add key="SearchInterface-soap" value="http://LOCAL-MERCADO:44464/SearchInterface"/>
    <add key="SearchInterface-wag" value="http://LOCAL-MERCADO:44467/SearchInterface"/>
    <add key="SearchInterface-yoyo" value="http://LOCAL-MERCADO:44466/SearchInterface"/>
    <add key="SearchInterface-casa" value="http://LOCAL-MERCADO:44463/SearchInterface"/>
    <add key="SearchInterface-afterschool" value="http://LOCAL-MERCADO:44462/SearchInterface"/>
    <add key="SearchInterface-vine" value="http://LOCAL-MERCADO:44468/SearchInterface"/>
    <add key="SearchInterface-bookworm" value="http://LOCAL-MERCADO:44469/SearchInterface"/>
    <add key="SearchInterface-look" value="http://LOCAL-MERCADO:44460/SearchInterface"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>