@using Pineapple.Model
@model System.Collections.Generic.List<Pineapple.Model.Visitor>

@{
    ViewBag.Title = "Visitors";
}
<ul>
    @foreach (Visitor visitor in ViewBag.Visitors)
    {
        <li>
            <span>@visitor.Id</span>&nbsp;&nbsp;
            <span>@visitor.VisitDate</span>
        </li>
    }
</ul>
