@using Pineapple.Model
@model List<Pineapple.Model.Visitor>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Manager/_Layout.cshtml";
}

<h2>title</h2>
<ul>
    @foreach (Visitor visitor in ViewBag.Visitors)
    {
        <li>
            <span>@visitor.Id</span>&nbsp;&nbsp;
            <span>@visitor.VisitDate</span>
        </li>
    }
</ul>
