@{
    ViewBag.Title = "Mapping Manager";
}

<a href="/Manager/Mapping/Catalog-Category" >
	<div class="col-sm-6 col-md-3">
		<div class="thumbnail tile tile-medium tile-peter-river col-md-3">
			<h3 class="tile-text">Catalog-Category</h3>
		</div>
	</div>
</a>

<a href="/Manager/Mapping/Catalog-Navigation" >
	<div class="col-sm-6 col-md-3">
		<div class="thumbnail tile tile-medium tile-peter-river col-md-3">
			<h3 class="tile-text">Catalog-Navigation</h3>
		</div>
	</div>
</a>

<a href="/Manager/Mapping/Category-Navigation" >
	<div class="col-sm-6 col-md-3">
		<div class="thumbnail tile tile-medium tile-peter-river col-md-3">
			<h3 class="tile-text">Category-Navigation</h3>
		</div>
	</div>
</a>

<a href="/Manager/Mapping/Category-Template" >
	<div class="col-sm-6 col-md-3">
		<div class="thumbnail tile tile-medium tile-peter-river col-md-3">
			<h3 class="tile-text">Category-Template</h3>
		</div>
	</div>
</a>

<a href="/Manager/Mapping/Category-CategoryItem" >
	<div class="col-sm-6 col-md-3">
		<div class="thumbnail tile tile-medium tile-peter-river col-md-3">
			<h3 class="tile-text">Category-CategoryItem</h3>
		</div>
	</div>
</a>