<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>-->

<!--<cachingConfiguration configSource="CoreConfig\CacheSetting.config"/>-->
    <cachingConfiguration defaultCacheManager="Default">
        <cacheManagers>
            <add name="Default" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching"
              expirationPollFrequencyInSeconds="10" maximumElementsInCacheBeforeScavenging="200"
              numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" />
        </cacheManagers>
        <backingStores>
            <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"
              name="Null Storage" />
        </backingStores>
    </cachingConfiguration>
<!--</configuration>-->