<!-- The file upload form used as target for the file upload widget -->
<form id="fileupload" action="/Manager/Attachment/Upload" method="POST" enctype="multipart/form-data">
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start upload</span>
            </button>
            <br />
            <br />
            <span id="addInput" class="btn btn-success">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
            </span>
            @*<button type="reset" class="btn btn-warning btn-sm hidden">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>*@
        </div>

        <div class="col-md-7">
            <div id="fileInputFormat" class="hidden">
                <button type="button" class="btn btn-warning" name="remove">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
                <input type="file" name="file" value="Add file..." class="" style="display: inline;" />
            </div>
            <table class="table table-hover">
                <tbody id="fileInputContain" maxrows="6">
                </tbody>
            </table>
        </div>
    </div>
</form>
