@{
    ViewBag.Title = "Overview";
}


@foreach(var nav in @ViewBag.LeftNavigations)
{
	<a href="@nav.Link" >
	    <div class="col-sm-6 col-md-3">
		    <div class="thumbnail tile tile-medium tile-peter-river col-md-3">
				<h3 class="tile-text">@nav.Text</h3>
			</div>
		</div>
	</a>
}