<AppVersionConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <AppVersions>
        <AppVersion platform="android" version="1.0">
            <Message>The version 1.0 is no longer supported. Please visit the app store for the latest version.</Message>
        </AppVersion>
        <AppVersion platform="iOS" version="1.0">
            <Message>Whoopse, this is out of date.</Message>
            <Url>http://asdfasdf/www</Url>
        </AppVersion>
    </AppVersions>
    <AppUrls>
        <AppUrl platform="android">http://www.baidu.com/www</AppUrl>
        <AppUrl platform="ios">http://www.qq.com/www</AppUrl>
    </AppUrls>
</AppVersionConfig>