<form id="form1" action ="/Manager/Catalog/Create">
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">CatalogCode</div>
                <div class="col-md-5">CatalogName</div>
            </div>
        </div>
    </fieldset>
</form>